.juego-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.opciones-contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.boton-opcion {
    background: none;
    border: 3px solid #ddd;
    border-radius: 50%; 
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-opcion img {
    border-radius: 50%; /* imagen circular */
    object-fit: cover;
}

/*caja de result */
.caja-resultado {
    border: 2px solid #333;
    border-radius: 15px;
    padding: 20px;
    background-color: #f8f9fa;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.caja-resultado h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
}

.marcador {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 1.2rem;
}

.victoria {
    color: #28a745; 
    padding: 10px 20px;
    border-radius: 10px;
}

.derrota {
    color: #dc3545;
    padding: 10px 20px;
    border-radius: 10px;
}