#SideBarNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

nav{
  background-color: #C9C5C5;
}

nav ul{
  display: inline-flex;
  gap: 1rem;
  list-style: none;
}

#resultadoIMC{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}